@font-face {
  font-family: 'Muli';
  font-style: bold;
  font-weight: 700;
  src: local('Muli'), local('Muli'), url(../Fonts/Muli-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), local('Muli'), url(../Fonts/Muli-Regular.ttf) format('truetype');
}

:root {

}

body {
	margin:0;
	font-family: 'Muli', sans-serif;
}

main {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* VIDEO */
.videoWrapper{
  width: 700px;
  height: auto;
  position:relative;
}

.videoScene{
  width: 100%;
  height: auto;
  object-fit: inherit;
}

.videoWrapper:hover .videoControls{
  opacity: 1;
}

.videoControls {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
}

.videoBarWrapper{
  height: 12px;
  width: 100%;
  background: rgba(255, 0, 0, 0); 
}

.videoBar {
  cursor: pointer;
  background: #8d8a89;
  width: 100%;
  -webkit-appearance: none;
  height: 5px;
  opacity: 0.99;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 0;
  border-radius: 0; /* iOS */
  background: linear-gradient(to right, #FCC57C 0%, #FCC57C 50%,#8d8a89 50%,#8d8a89 100%);
  /* background-image: linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -o-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%); */

}

.videoBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -moz-border-radius:20px; 
  background: #FF2D00;
  cursor: pointer;  
}

.videoBar::-moz-range-thumb {
  -moz-apperance:none; 
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -moz-border-radius:20px; 
  background: #FF2D00;
  cursor: pointer;  
  border: inherit;
}



/* input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
} */



.videoMenu {
  width: 100%;
  padding-left: 7px;
  background: black;
  line-height: 44px;
  padding-top: 5px;
}

.videoButton {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border: inherit;
  background: inherit;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
